*{
	box-sizing: border-box; /* damit, die vCard die selbe größe hat, wie wir es bestimmt haben */
}

/* RESET */

html, body, h1, h2, h3, p, img:hover {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #fff;
	font-size: 20pt;
	font-family: Gotham;
	color: #323232;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* TYPO */

h1{
	font-size: 50pt;
	font-weight: bold;
}

h2{
	font-size: 24pt;
	font-weight: book;
	margin-left: 480px;
}

/* KLASSEN */

.HowCome {
	padding-top: 50px;
	width: 1920px;
	height: 170px;
	background-color: #95C11F;
}

.nav {
	width: 1920px;
	height: 135px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

.nav-item {
	margin-right: 50px;
	margin-left: 50px;
}

.Aufgabe {
	width: 1920px;
	height: 400px;
	background-color: #fff;
}

.textAufgabe {
	width: 435px;
	height: 260px;
	padding-top: 10px;
	margin-left: 480px;
	font-size: 14pt;
}

.Idee {
	width: 1920px;
	height: 400px;
	background-color: #F5F6F7;
}

.Bild {
	margin-left: 480px;
    height: 100%;
    width: 435px;
    float: left;
}

.h2rechts {
	margin-left: 1040px;
}

.textIdee {
	width: 435px;
	height: 260px;
	padding-top: 10px;
	margin-left: 125px;
	font-size: 14pt;
	float: left;
}

.clear {
	clear: both;
}