*{
	box-sizing: border-box; /* damit, die vCard die selbe größe hat, wie wir es bestimmt haben */
}

/* RESET */

html, body, h1, h2, h3, p, img:hover {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #323232;
	font-size: 20pt;
	font-family: Gotham;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* TYPO */

h1{
	font-size: 50pt;
	font-weight: bold;
}

h2{
	font-size: 24pt;
	font-weight: book;
}

/* KLASSEN */

.HowCome {
	padding-top: 50px;
	width: 1920px;
	height: 200px;
	background-color: #95C11F;
}

.nav {
	width: 1920px;
	height: 135px;
	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
}

.nav-item {
	margin-right: 50px;
	margin-left: 50px;	
}

.Aufgabe {
	width: 960px;
	height: 300px;
	margin-left: 500px;
}

.textAufgabe {
	width: 890px;
	height: 350px;
	padding-top: 75px;
	margin-left: 75px;
	font-size: 16pt;
}

.textIdee {
	width: 890px;
	height: 350px;
	padding-top: 75px;
	margin-right: 75px;
	font-size: 16pt;
}