*{
	box-sizing: border-box; /* damit, die vCard die selbe größe hat, wie wir es bestimmt haben */
}

body {
	background-color: #fff;
	font-size: 16px;
	font-family: Gotham;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* RESET */

html, body, h1, h2, h3, p, img:hover {
	margin: 0;
	padding: 0;
	border: none;
}

/* TYPO */

h1{
	font-size: 18px;
	font-weight: bold;
}

h2{
	font-size: 18px;
	font-weight: normal;
}

p{
	font-size: 16pt;
	font-weight: normal;
	font-family: Gotham;
	color:#95C11F;
}

.HowCome {
	background-color: #323232;
	height: 300px;
	width: 1920px;
}

.Headline {
	margin-top: -160px;
	margin-left: 750px;
	font-size: 50pt;
	font-family: Gotham;
	color: #95C11F;
}
.nav1 {
	float: left;
	margin-top: 120px;
	margin-left: 170px;
	position: center;
	font-size: 18pt;
	color: #323232;	

	.clear {
	clear: both;
}
}

.nav {
	float: left;
	margin-top: 120px;
	margin-left: 340px;
	position: center;
	font-size: 18pt;
	color: #323232;	

	.clear {
	clear: both;
}

}


.Raster {
	margin-top: 180px;
	margin-left: 80px;
}

.Kacheln {
	float: left;
	height: 250px;
	width: 450px;
	background-color: #323232;
}

.KachelnText {
	float: left;
	height: 250px;
	width: 450px;
	border-width:3px;
  	border-style:solid;
  	border-color:#95C11F;
  	padding:2.5em;
  	font-family: Gotham;
  	color: #95C11F;
  	font-size: medium;
  	font-size: 14pt;
}
.clear {
	clear: both;
}

.Bild {
	width:90px;
	height:90px;
	margin: 80px auto 0px auto;
}

.Profilbilder {
	height: 250px;
	width: 450px;
	padding-top: 50px;
	padding-left: 40px;
}

.textProfil {
	width: 118px;
	height: 110px;
	padding-left: 40px;
	margin-left: -4px;
	float: left;
}

.bottom {
	width: 1920px;
	height: 300px;
	padding-top: 280px;
	padding-left: 900px;
	font-family: Gotham;
	font-size: 10pt;
	color: #323232;
}